body {
    background: linear-gradient(to bottom right, rgb(166, 253, 166), #800080);
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
    color: black;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.bar {
    width: 42px;
    height: 8px;
    background-color: #000000;
    margin: 3px 0;
    transition: transform 0.4s ease;
}

.bar:hover {
    transform: scaleY(1.5);
    background: linear-gradient(to bottom right, rgb(166, 253, 166), #800080);
}

.menu-links {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    background: linear-gradient(to bottom right, rgb(166, 253, 166), #800080);
    width: 200px;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-links ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.menu-links ul li:hover {
    background-color: #eaeaea;
}

.menu-links ul li a {
    text-decoration: none;
    color: #333;
}

.menu-links ul li:last-child {
    border-bottom: none;
}

.show-menu {
    display: block;
}

.zone-noir {
    background-color: black;
    color: white;
    padding: 10px;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 4rem;
}

.zone-noir p {
    margin-bottom: 0px;
}

.zone-noir h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.zone-noir img {
    width: 10cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.8rem;
}
